<?xml version="1.0"?>
<!--

  Copyright (c) 2019, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find modelo)/deg_to_rad.xacro" />

  <!--
    Utiliy to create a tiago end effector (right or left).

    Parameters:
    - name: End effector name. The created links and joints are prepended with 'name_'
    - parent: Parent link
    - reflect: Set to 1 for a right end effector, or to -1 for a left end effector
  -->
  <xacro:macro name="tiago_end_effector" params="name parent type reflect">

  <xacro:if value="${type == 'pal-gripper'}">
    <xacro:include filename="$(find modelo)/end_effector/gripper.urdf.xacro" />
    <xacro:pal_gripper parent="${parent}" name="${name}">
      <origin xyz="0.01 0 0" rpy="${90*deg_to_rad} ${90*deg_to_rad} ${-90*deg_to_rad}"/>
    </xacro:pal_gripper>
  </xacro:if>

  

  </xacro:macro>

</robot>
